.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  min-width: 168px;
  min-height: 56px;
  border-radius: 24px;

  /* font-size: 18px; */
  background-color: var(--slate-200);
  box-shadow: 0 4px 0 black;
  cursor: pointer;
}

.button.add:hover {
  background-color: var(--violet-600);
  color: white;
}

.button.save:hover {
  background-color: var(--lime-300);
}

.button.delete {
  background-color: var(--rose-500);
  color: white;
}
